<launch>

<!-- Load joint controller configuration from YAML file to parameter server -->
<rosparam file="$(find robot_arm)/config/joint_states.yaml" command="load"/>


<!-- load the controllers -->
<node name="joint_controller_spawner" pkg="controller_manager" type="spawner" 
  respawn="true" output="screen" 
   args="/Robot_Arm/joint_state_controller"/>

<!-- convert joint states to TF transforms for rviz, etc -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <!--remap from ="/joint_states" to="/Robot_Arm/joint_states"/-->
  </node>
 
</launch>
